<html ng-app="wotApp">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="expected_values_service.js"></script>
	<script src="wn8_service.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="PlayerController">
	<h1>Search</h1>
	<form ng-submit="searchPlayer()" autocomplete="on">
		Player name: <input type="text" ng-model="playerName" ng-required="true" autofocus />
		<label for="data_type_1"><input type="radio" ng-model="dataOrigin" value="xvm" id="data_type_1" name="data_type" /> xvm</label>
		<label for="data_type_2"><input type="radio" ng-model="dataOrigin" value="wnefficiency" id="data_type_2" name="data_type" /> wnefficiency</label>
		<input type="submit" value="Search">
	</form>
	<div ng-if="playerNotFound === false">
		<h2>Results</h2>
		<table border="1">
			<tr>
				<th></th>
				<th>Nickname</th>
			</tr>
			<tr ng-repeat="player in playerSearchList.data">
				<td>{{$index + 1}}</td>
				<td>
					<a href ng-click="getPlayerRatings(player.account_id, player.nickname)">{{player.nickname}}</a>
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="playerNotFound === true">
		<label class="color-bad">
			Player not found.
		</label>
	</div>
	<div ng-show="playerRatingsFound">
		<hr>
		<h1>Ratings of {{playerNickname}} <small class="color-bad" ng-show="calculating">calculating...</small></h1>
		<h1>WN8 <small><a href="http://www.wnefficiency.net/" target="_blank">using v.{{expectedValuesVersion}}</a></small></h1>
		<h2>
			<span ng-class="{'color-very-bad': overallWn8 < 300, 
				'color-bad': overallWn8 >= 300 && overallWn8 < 600,
				'color-below-average': overallWn8 >= 600 && overallWn8 < 900,
				'color-average': overallWn8 >= 900 && overallWn8 < 1250,
				'color-good': overallWn8 >= 1250 && overallWn8 < 1600,
				'color-very-good': overallWn8 >= 1600 && overallWn8 < 1900,
				'color-great': overallWn8 >= 1900 && overallWn8 < 2350,
				'color-unicum': overallWn8 >= 2350 && overallWn8 < 2900,
				'color-super-unicum': overallWn8 >= 2900}">
				{{overallWn8 | number:2}}
			</span>
		</h2>
		<hr>
		<h1>Vehicles</h1>
		<table border="1">
			<tr>
				<th></th>
				<th><a href ng-click="sort('name')">Tank name</a></th>
				<th><a href ng-click="sort('all.battles')">Battles</a></th>
				<th width="7%"><a href ng-click="sort('winrate')">Winrate</a></th>
				<th width="7%"><a href ng-click="sort('expectedWinrate')">Expected winrate</a></th>
				<th><a href ng-click="sort('level')">Tier</a></th>
				<th><a href ng-click="sort('mark_of_mastery')">Mark of Mastery</a></th>
				<th width="10%"><a href ng-click="sort('average_damage')">Average damage</a></th>
				<th width="10%"><a href ng-click="sort('expectedDamage')">Expected average damage</a></th>
				<th><a href ng-click="sort('average_xp')">Average XP</a></th>
				<th><a href ng-click="sort('max_xp')">Maximum XP</a></th>
				<th><a href ng-click="sort('wn8')">WN8</a></th>
			</tr>
			<tr ng-repeat="tank in playerTanks | orderBy:sortCriteria:sortReverse" ng-if="tank.all.battles" ng-class-even="'even-row'">
				<td>{{$index + 1}}</td>
				<td>{{tank.name}}</td>
				<td ng-class="{
					'color-bad': tank.all.battles < 50,
					'color-average': tank.all.battles >= 50 && tank.all.battles < 100,
					'color-good': tank.all.battles >= 100 && tank.all.battles < 500,
					'color-great': tank.all.battles >= 500 && tank.all.battles < 1000,
					'color-super-unicum': tank.all.battles >= 1000}">
					<strong>{{tank.all.battles}}</strong>
				</td>
				<td ng-class="{'color-very-bad': tank.winrate < 43, 
					'color-bad': tank.winrate >= 43 && tank.winrate < 45,
					'color-below-average': tank.winrate >= 45 && tank.winrate < 47,
					'color-average': tank.winrate >= 47 && tank.winrate < 51,
					'color-good': tank.winrate >= 51 && tank.winrate < 53,
					'color-very-good': tank.winrate >= 53 && tank.winrate < 55,
					'color-great': tank.winrate >= 55 && tank.winrate < 59,
					'color-unicum': tank.winrate >= 59 && tank.winrate < 69,
					'color-super-unicum': tank.winrate >= 69}">
					<strong>{{tank.winrate | number:2}}%</strong>
				</td>
				<td ng-class="{'color-bad': tank.winrate <= tank.expectedWinrate,
					'color-good': tank.winrate > tank.expectedWinrate}">
					<strong>{{tank.expectedWinrate}}%</strong>
				</td>
				<td>{{tank.level}}</td>
				<td>{{getMasteryMarkById(tank.mark_of_mastery)}}</td>
				<td>{{tank.average_damage | number:0}}</td>
				<td ng-class="{'color-bad': tank.average_damage <= tank.expectedDamage,
					'color-good': tank.average_damage > tank.expectedDamage}">
					<strong>{{tank.expectedDamage | number:0}}</strong>
				</td>
				<td>{{tank.average_xp | number:0}}</td>
				<td>{{tank.max_xp}}</td>
				<td ng-class="{'color-very-bad': tank.wn8 < 300, 
					'color-bad': tank.wn8 >= 300 && tank.wn8 < 600,
					'color-below-average': tank.wn8 >= 600 && tank.wn8 < 900,
					'color-average': tank.wn8 >= 900 && tank.wn8 < 1250,
					'color-good': tank.wn8 >= 1250 && tank.wn8 < 1600,
					'color-very-good': tank.wn8 >= 1600 && tank.wn8 < 1900,
					'color-great': tank.wn8 >= 1900 && tank.wn8 < 2350,
					'color-unicum': tank.wn8 >= 2350 && tank.wn8 < 2900,
					'color-super-unicum': tank.wn8 >= 2900}">
					<strong>{{tank.wn8 | number:0}}</strong>
				</td>
			</tr>
		</table>
	</div>
	<div ng-show="playerRatingsFound === false" class="color-bad">
		Player ratings not found.
	</div>
</body>
</html>