body {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-width: 2px;
	margin-bottom: 20px;
	text-align: center;
}
th {
	background-color: #aeaeae;
	padding: 5px;
}
td {
	padding: 5px;
}
.period-select {
	margin-bottom: 10px;
}
.color-very-bad {
	color: #000000;
}
.color-bad {
	color: #cd3333;
}
.color-below-average {
	color: #d77900;
}
.color-average {
	color: #d7b600;
}
.color-good {
	color: #6d9521;
}
.color-very-good {
	color: #4c762e;
}
.color-great {
	color: #4a92b7;
}
.color-unicum {
	color: #83579d;
}
.color-super-unicum {
	color: #5a3175;
}
.even-row {
	background-color: #f6f6f6;
}
h1 small {
	font-size: 60%;
}